<button id="AddCategoryBtn"
        class="btn btn-success"
        type="button"
        (click)="addingMode = !addingMode">
  {{'category.addCategory' | translate}}
</button>
<button id="RefreshCategoriesBtn"
        class="btn btn-primary"
        type="button"
        (click)="onRefreshCategories()">
  {{'button.refresh' | translate}}
</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>

      <!--Name-->
      <th id="NameHeader"
          [class.active]="sortableCategoriesTable.order === 'name'"
          (click)="sortableCategoriesTable.setOrder('name')">
        {{'category.name' | translate}}
        <span [hidden]="!sortableCategoriesTable.reverse">▼</span>
        <span [hidden]="sortableCategoriesTable.reverse">▲</span>
      </th>

      <!--Parent Category-->
      <th id="ParentCategoryHeader"
          [class.active]="sortableCategoriesTable.order === 'parentCategory.name'"
          (click)="sortableCategoriesTable.setOrder('parentCategory.name')">
        {{'category.parentCategory' | translate}}
        <span [hidden]="!sortableCategoriesTable.reverse">▼</span>
        <span [hidden]="sortableCategoriesTable.reverse">▲</span>
      </th>
      <th id="SumHeader"
          [class.active]="sortableCategoriesTable.order === 'sumOfAllTransactions'"
          (click)="sortableCategoriesTable.setOrder('sumOfAllTransactions')">
        {{'category.sum' | translate}}
        <span [hidden]="!sortableCategoriesTable.reverse">▼</span>
        <span [hidden]="sortableCategoriesTable.reverse">▲</span>
      </th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngIf="addingMode">
      <!--Name-->
      <td>
        <input id="NewCategoryNameInput"
               class="form-control"
               type="text"
               [(ngModel)]="newCategory.name">
      </td>
      <td>
        <div class="form-group">
          <select id="NewParentCategorySelect"
                  class="form-control"
                  [(ngModel)]="newCategory.parentCategory"
                  name="selectedParentCategory">
            <option [ngValue]="null">
              {{'category.mainCategory' | translate}}
            </option>
            <option *ngFor="let category of categories"
                    [ngValue]="category">
              {{category.name}}
            </option>
          </select>
        </div>
      </td>
      <td></td>
      <td id="NewCategorySaveExitBtn">
        <button id="NewCategorySaveBtn"
                class="btn btn-success"
                (click)="onAddCategory()">
          {{'button.save' | translate}}
        </button>
        <button id="NewCategoryExitBtn"
                class="btn btn-danger"
                (click)="addingMode=false">
          {{'button.exit' | translate}}
        </button>
      </td>
    </tr>

    <tr id="CategoryRow"
        *ngFor="let category of categories | orderBy: sortableCategoriesTable.order:sortableCategoriesTable.reverse:'case-insensitive'">

      <!--Name-->
      <td *ngIf="category.editMode">
        <input id="EditCategoryNameInput"
               class="form-control"
               type="text"
               [(ngModel)]="category.editedCategory.name">
      </td>
      <td id="NameReadOnly"
          *ngIf="!category.editMode">
        {{category.name}}
      </td>

      <!--Parent Category-->
      <td *ngIf="category.editMode">
        <select id="EditParentCategorySelect"
                class="form-control"
                [(ngModel)]="category.editedCategory.parentCategory">
          <option *ngFor="let parCategory of getListOfPossibleParentCategories(category)"
                  [ngValue]="parCategory">
            {{parCategory.name}}
          <option [ngValue]="null">
            {{'category.mainCategory' | translate}}
          </option>
        </select>
      </td>
      <td id="ParentCategoryReadOnly"
          *ngIf="!category.editMode">
        {{getParentCategoryName(category)}}
      </td>

      <td>
        <p id="PriceSummary">
          {{ category.sumOfAllTransactions | number:'0.2' }}
        </p>
      </td>

      <td *ngIf="!category.editMode">
        <div class="dropdown">
          <button id="OptionsBtn"
                  class="btn btn-primary dropdown-toggle btn-block"
                  type="button"
                  data-toggle="dropdown">
            {{'button.options' | translate}}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <button id="EditBtn"
                      class="btn btn-warning btn-block"
                      (click)="onShowEditMode(category)">
                {{'button.edit' | translate}}
              </button>
            </li>
            <li>
              <button id="DeleteBtn"
                      class="btn btn-danger btn-block"
                      (click)="deleteCategory(category)">
                {{'button.delete' | translate}}
              </button>
            </li>
          </ul>
        </div>
      </td>

      <td *ngIf="category.editMode"
          id="EditCategorySaveExitBtn">
        <button id="EditCategorySaveBtn"
                class="btn btn-success"
                (click)="onEditCategory(category)">
          {{'button.save' | translate}}
        </button>
        <button id="EditCategoryExitBtn"
                class="btn btn-danger"
                (click)="category.editMode=false">
          {{'button.exit' | translate}}
        </button>
      </td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>
        {{ balanceOfAllTransactions | number:'0.2' }}
      </td>
      <td></td>
    </tr>
  </tbody>
</table>

<table class="table table-bordered table-striped table-month">
  <thead class="thead-dark">
    <tr>
      <th [class.active]="sortableSummaryTable.order === 'name'"
          (click)="sortableSummaryTable.setOrder('name')">
        {{'category.name' | translate}}
        <span [hidden]="!sortableSummaryTable.reverse">▼</span>
        <span [hidden]="sortableSummaryTable.reverse">▲</span>
      </th>
      <th *ngFor="let month of last12Months; let i = index"
          [class.active]="sortableSummaryTable.order === 'sumOfAllTransactionsInMonth.'+i"
          (click)="sortableSummaryTable.setOrder('sumOfAllTransactionsInMonth.'+i)">
        {{ month | date:'MMMM yyyy' }}
        <span [hidden]="sortableSummaryTable.reverse">▼</span>
        <span [hidden]="!sortableSummaryTable.reverse">▲</span>
      </th>
      <th [class.active]="sortableSummaryTable.order === 'sumOfAllTransactions'"
          (click)="sortableSummaryTable.setOrder('sumOfAllTransactions')">
        {{'category.sum' | translate}}
        <span [hidden]="sortableSummaryTable.reverse">▼</span>
        <span [hidden]="!sortableSummaryTable.reverse">▲</span>
      </th>
      <th [class.active]="sortableSummaryTable.order === 'averageOfAllTransactions'"
          (click)="sortableSummaryTable.setOrder('averageOfAllTransactions')">
        {{'category.average' | translate}}
        <span [hidden]="sortableSummaryTable.reverse">▼</span>
        <span [hidden]="!sortableSummaryTable.reverse">▲</span>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories | orderBy: sortableSummaryTable.order:sortableSummaryTable.reverse:'case-insensitive'">
      <td> {{category.name}}</td>
      <td *ngFor="let monthSum of category.sumOfAllTransactionsInMonth">
        {{ monthSum | number:'0.2' }}
      </td>
      <td>
        {{ category.sumOfAllTransactions | number:'0.2' }}
      </td>
      <td>
        {{ category.averageOfAllTransactions | number:'0.2' }}
      </td>
    </tr>
    <tr>
      <td>{{'category.income' | translate}}</td>
      <td *ngFor="let income of incomeOfAllTransactionsInGivenMonth">
        {{income | number:'0.2'}}
      </td>
      <td>
        {{ incomeBalanceOfAllTransactions | number:'0.2' }}
      </td>
      <td>
        {{ incomeBalanceOfAllTransactions / last12Months.length | number:'0.2' }}
      </td>
    </tr>

    <tr>
      <td>{{'category.costs' | translate}}</td>
      <td *ngFor="let cost of costOfAllTransactionsInGivenMonth">
        {{cost | number:'0.2'}}
      </td>
      <td>
        {{ costBalanceOfAllTransactions | number:'0.2' }}
      </td>
      <td>
        {{ costBalanceOfAllTransactions / last12Months.length | number:'0.2' }}
      </td>
    </tr>

    <tr>
      <td>{{'category.sum' | translate}}</td>
      <td *ngFor="let balance of balanceOfTransactionsInGivenMonth">
        {{balance | number:'0.2'}}
      </td>
      <td>
        {{ balanceOfAllTransactions | number:'0.2' }}
      </td>
      <td>
        {{ balanceOfAllTransactions / last12Months.length | number:'0.2' }}
      </td>
    </tr>

    <tr>
      <td>{{'category.monthBalance' | translate}}</td>
      <td *ngFor="let balance of balanceOfAllAccountsAtTheEndOfMonth">
        {{balance | number:'0.2'}}
      </td>
      <td>

      </td>
      <td>

      </td>
    </tr>

  </tbody>
</table>

<select [(ngModel)]="selectedMonth"
        (ngModelChange)="monthChanged($event)"
        name="selectedMonth">
  <option *ngFor="let month of last12Months"
          [ngValue]="month">{{month | date:'MMMM yyyy'}}
  </option>
</select>

<select [(ngModel)]="costs"
        (ngModelChange)="costsChanged($event)"
        name="costs">
  <option [ngValue]=true>Koszty</option>
  <option [ngValue]=false>Przychody</option>
</select>


<google-chart #chart
              [type]="type"
              [data]=data
              [columnNames]="columnNames"
              [options]="options"
              [width]="width"
              [height]="height">
</google-chart>

<select [(ngModel)]="selectedCategory"
        (ngModelChange)="categoryChanged($event)"
        name="selectedCategory">
  <option *ngFor="let category of categories"
          [ngValue]="category.id">{{category.name}}
  </option>
</select>

<google-chart #chartByCategory
              [type]="type"
              [data]=data_categories
              [columnNames]="columnNames"
              [options]="options"
              [width]="width"
              [height]="height">
</google-chart>
