<button class="btn btn-success" type="button" (click)="addingMode = !addingMode">
  {{'category.addCategory' | translate}}
</button>
<button class="btn btn-primary" type="button" (click)="onRefreshCategories()">{{'button.refresh' | translate}}</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>

    <!--Name-->
    <th [class.active]="order === 'name'" (click)="setOrder('name')">
      {{'category.name' | translate}}
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <!--Parent Category-->
    <th [class.active]="order === 'parentCategory.name'" (click)="setOrder('parentCategory.name')">
      {{'category.parentCategory' | translate}}
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories | orderBy: order:reverse:'case-insensitive'">

    <!--Name-->
    <td *ngIf="category.editMode">
      <input class="form-control" type="text" [(ngModel)]="category.editedCategory.name">
    </td>
    <td *ngIf="!category.editMode">{{category.name}}</td>

    <!--Parent Category-->
    <td *ngIf="category.editMode">
      <select class="form-control" [(ngModel)]="category.editedCategory.parentCategory">
        <option *ngFor="let parCategory of getListOfPossibleParentCategories(category)" [ngValue]="parCategory">
          {{parCategory.name}}
        <option [ngValue]="null">{{'category.mainCategory' | translate}}</option>
      </select>
    </td>
    <td *ngIf="!category.editMode">{{getParentCategoryName(category)}}</td>

    <td *ngIf="!category.editMode">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle btn-block" type="button" data-toggle="dropdown">{{'button.options' | translate}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="btn btn-warning btn-block" (click)="onShowEditMode(category)">{{'button.edit' | translate}}</button>
          </li>
          <li>
            <button class="btn btn-danger btn-block" (click)="deleteCategory(category)">{{'button.delete' | translate}}</button>
          </li>
        </ul>
      </div>
    </td>
    <td *ngIf="category.editMode">
      <button class="btn btn-success" (click)="onEditCategory(category)">{{'button.save' | translate}}</button>
      <button class="btn btn-danger" (click)="category.editMode=false">{{'button.exit' | translate}}</button>
    </td>

  </tr>

  <tr *ngIf="addingMode">

    <!--Name-->
    <td>
      <input class="form-control" type="text" [(ngModel)]="newCategory.name">
    </td>
    <td>
      <div class="form-group">
        <select class="form-control" id="selectedParentCategory" [(ngModel)]="newCategory.parentCategory"
                name="selectedParentCategory">
          <option [ngValue]="null">{{'category.mainCategory' | translate}}</option>
          <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
      </div>
    </td>

    <td>
      <button class="btn btn-success" (click)="onAddCategory()">{{'button.save' | translate}}</button>
      <button class="btn btn-danger" (click)="addingMode=false">{{'button.exit' | translate}}</button>
    </td>

  </tr>
  </tbody>
</table>
