<button class="btn btn-danger" type="button" (click)="addingMode === true ? addingMode=false : addingMode=true">
  Add Account</button>
<button class="btn btn-primary" type="button" (click)="onRefreshAccounts()">Refresh</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th style="width: 20%">
        Id
        <span class="glyphicon glyphicon-collapse-down" (click)="sortById('asc')"></span>
        <span class="glyphicon glyphicon-collapse-up" (click)="sortById('dsc')"></span>
      </th>
      <th style="width: 50%">
        Description
        <span class="glyphicon glyphicon-collapse-down" (click)="sortByName('asc')"></span>
        <span class="glyphicon glyphicon-collapse-up" (click)="sortByName('dsc')"></span>
      </th>
      <th style="width: 20%">
        Balance
        <span class="glyphicon glyphicon-collapse-down" (click)="sortByBalance('asc')"></span>
        <span class="glyphicon glyphicon-collapse-up" (click)="sortByBalance('dsc')"></span>
      </th>
      <th style="width: 10%">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let account of accounts">
      <td>{{account.id}}</td>

      <td *ngIf="account.editMode">
        <input type="text" [(ngModel)]="editedName">
      </td>
      <td *ngIf="!account.editMode">{{account.name}}</td>

      <td *ngIf="account.editMode">
        <input type="text" [(ngModel)]="editedBalance"> $</td>
      <td *ngIf="!account.editMode">{{account.balance}} $</td>

      <td *ngIf="!account.editMode">
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <p (click)="deleteAccount(account)">Delete</p>
            </li>
            <li>
              <p (click)="onShowEditMode(account)">Edit</p>
            </li>
          </ul>
        </div>
      </td>
      <td *ngIf="account.editMode">
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Edit Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <p (click)="onEditAccount(account)">Save</p>
            </li>
            <li>
              <p (click)="account.editMode=false">Exit</p>
            </li>
          </ul>
        </div>
      </td>

    </tr>
    <tr *ngIf="addingMode">
      <td>New Account</td>
      <td>
        <input type="text" #newAccountName>
      </td>
      <td>
        <input type="text" #newAccountBalance> </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-danger dropdown-toggle" type="button" data-toggle="dropdown">Adding options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <p (click)="onAddAccount(newAccountName,newAccountBalance)">Save</p>
            </li>
            <li>
              <p (click)="addingMode=false">Exit</p>
            </li>
          </ul>
        </div>
      </td>
    </tr>

  </tbody>
</table>