<button id="AddAccountBtn"
        class="btn btn-success"
        type="button"
        (click)="addingMode = !addingMode">
  {{ "account.addAccount" | translate }}
</button>
<button id="RefreshAccountsBtn"
        class="btn btn-primary"
        type="button"
        (click)="onRefreshAccounts()">
  {{ "button.refresh" | translate }}
</button>

<div class="showArchivedCheckbox">
  <input id="showArchivedCheckbox"
         type="checkbox"
         (change)="showArchivedCheckboxState = !showArchivedCheckboxState">
  {{"checkbox.showArchived" | translate}}
</div>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">

    <tr>
      <!--Name-->
      <th id="NameHeader"
          [class.active]="sortableAccountsTable.order === 'name'"
          (click)="sortableAccountsTable.setOrder('name')">
        {{ "account.name" | translate }}
        <span [hidden]="!sortableAccountsTable.reverse">▼</span>
        <span [hidden]="sortableAccountsTable.reverse">▲</span>
      </th>

      <th id="AccountTypeHeader"
          [class.active]="sortableAccountsTable.order === 'name'"
          (click)="sortableAccountsTable.setOrder('name')">
        {{ "account.accountType" | translate }}
        <span [hidden]="sortableAccountsTable.reverse">▼</span>
        <span [hidden]="!sortableAccountsTable.reverse">▲</span>
      </th>

      <!--Balance-->
      <th id="BalanceHeader"
          [class.active]="sortableAccountsTable.order === 'balance'"
          (click)="sortableAccountsTable.setOrder('balance')">
        {{ "account.balance" | translate }}
        <span [hidden]="!sortableAccountsTable.reverse">▼</span>
        <span [hidden]="sortableAccountsTable.reverse">▲</span>
      </th>

      <th id="CurrencyHeader"
          [class.active]="sortableAccountsTable.order === 'currency.name'"
          (click)="sortableAccountsTable.setOrder('currency.name')">
        {{ "account.currency" | translate }}
        <span [hidden]="sortableAccountsTable.reverse">▼</span>
        <span [hidden]="!sortableAccountsTable.reverse">▲</span>
      </th>

      <th id="BalancePLNHeader"
          [class.active]="sortableAccountsTable.order === 'balancePLN'"
          (click)="sortableAccountsTable.setOrder('balancePLN')">
        {{"account.balancePLN" | translate }}
        <span [hidden]="!sortableAccountsTable.reverse">▼</span>
        <span [hidden]="sortableAccountsTable.reverse">▲</span>
      </th>

      <th id="DateHeader"
          [class.active]="sortableAccountsTable.order === 'lastVerificationDate'"
          (click)="sortableAccountsTable.setOrder('lastVerificationDate')">
        {{"account.lastVerificationDate" | translate }}
        <span [hidden]="!sortableAccountsTable.reverse">▼</span>
        <span [hidden]="sortableAccountsTable.reverse">▲</span>
      </th>

      <th></th>
    </tr>
  </thead>

  <tbody>

    <tr *ngIf="addingMode">
      <!-- Name -->
      <td>
        <input id="NewAccountNameInput"
               class="form-control"
               type="text"
               [(ngModel)]="newAccount.name"/>
      </td>

      <!-- AccountType -->
      <td>
        <select id="NewAccountTypeSelect"
                class="form-control"
                [(ngModel)]="newAccount.accountType">
          <option *ngFor="let accountType of supportedAccountTypes"
                  [ngValue]="accountType">
            {{ accountType.name }}
          </option>
        </select>
      </td>

      <!--Balance-->
      <td>
        <input id="NewAccountBalanceInput"
               class="form-control"
               type="number"
               [(ngModel)]="newAccount.balance"/>
      </td>

      <!-- Currency -->
      <td>
        <select id="NewAccountCurrencySelect"
                class="form-control"
                [(ngModel)]="newAccount.currency">
          <option *ngFor="let currency of supportedCurrencies"
                  [ngValue]="currency">
            {{ currency.name }}
          </option>
        </select>
      </td>

      <!-- Balance PLN -->
      <td>
        {{ newAccount.balance * newAccount.currency.exchangeRate | number: "0.2-2"
        }}
      </td>

      <td>
      </td>

      <!-- Buttons -->
      <td id="NewAccountSaveExitBtn">
        <button id="NewAccountSaveBtn"
                class="btn btn-success"
                (click)="onAddAccount()">
          {{ "button.save" | translate }}
        </button>
        <button id="NewAccountExitBtn"
                class="btn btn-danger"
                (click)="addingMode = false">
          {{ "button.exit" | translate }}
        </button>
      </td>
    </tr>

    <ng-container
      *ngFor="let account of (accounts | orderBy: sortableAccountsTable.order:sortableAccountsTable.reverse:'case-insensitive')">
      <tr [ngClass]="{'font-italic':account.archived}"
          id="AccountRow"
          *ngIf="showArchivedCheckboxState ||!account.archived">
        <!-- Name -->
        <td *ngIf="account.editMode">
          <input id="EditAccountNameInput"
                 class="form-control"
                 type="text"
                 [(ngModel)]="account.editedAccount.name"/>
        </td>
        <td id="NameReadOnly"
            *ngIf="!account.editMode">
          {{ account.name}}
        </td>

        <!-- AccountType -->
        <td *ngIf="account.editMode">
          <select id="EditAccountTypeSelect"
                  class="form-control"
                  [(ngModel)]="account.editedAccount.accountType">
            <option *ngFor="let accountType of supportedAccountTypes"
                    [ngValue]="accountType">
              {{ accountType.name }}
            </option>
          </select>
        </td>

        <td *ngIf="!account.editMode">
          {{ account.accountType.name }}
        </td>

        <!--Balance-->
        <td *ngIf="account.editMode">
          <input id="EditAccountBalanceInput"
                 class="form-control"
                 type="number"
                 [(ngModel)]="account.editedAccount.balance"/>
        </td>
        <td id="BalanceReadOnly"
            *ngIf="!account.editMode">
          {{ account.balance | number: "0.2-2" }}
        </td>

        <!-- Currency -->
        <td *ngIf="account.editMode">
          <select id="EditAccountCurrencySelect"
                  class="form-control"
                  [(ngModel)]="account.editedAccount.currency">
            <option *ngFor="let currency of supportedCurrencies"
                    [ngValue]="currency">
              {{ currency.name }}
            </option>
          </select>
        </td>

        <td *ngIf="!account.editMode">
          {{ account.currency.name }}
        </td>

        <!-- Balance PLN -->
        <td *ngIf="account.editMode">
          {{ account.editedAccount.balance
          * account.editedAccount.currency.exchangeRate | number: "0.2-2" }}
        </td>

        <td id="Balance_PLN"
            *ngIf="!account.editMode">
          {{ account.balancePLN | number: "0.2-2" }}
        </td>

        <!-- Last verification date -->

        <td id="BalanceVerificationDate">{{ account.lastVerificationDate | date: "yyyy-MM-dd" }}
        </td>

        <!-- Options -->
        <td *ngIf="!account.editMode">
          <div class="dropdown">
            <button id="OptionsBtn"
                    class="btn btn-primary btn-block dropdown-toggle"
                    type="button"
                    data-toggle="dropdown">
              {{ "button.options" | translate }}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li *ngIf="!account.archived">
                <button id="EditBtn"
                        class="btn btn-warning btn-block"
                        (click)="onShowEditMode(account)">
                  {{ "button.edit" | translate }}
                </button>
              </li>
              <li *ngIf="!account.archived">
                <button id="UpdateLastVerificationDateBtn"
                        class="btn btn-info btn-block"
                        (click)="confirmAccountBalance(account)">
                  {{ "button.updateLastVerificationDate" | translate }}
                </button>
              </li>
              <li *ngIf="!account.archived">
                <button id="ArchiveBtn"
                        class="btn btn-warning btn-block"
                        (click)="archiveAccount(account)">
                  {{ "button.archive" | translate }}
                </button>
              </li>
              <li *ngIf="account.archived">
                <button id="MakeActiveBtn"
                        class="btn btn-warning btn-block"
                        (click)="restoreAccount(account)">
                  {{ "button.makeActive" | translate }}
                </button>
              </li>
              <li *ngIf="!account.archived">
                <button id="DeleteBtn"
                        class="btn btn-danger btn-block"
                        (click)="deleteAccount(account)">
                  {{ "button.delete" | translate }}
                </button>
              </li>
            </ul>
          </div>
        </td>

        <!-- Edit mode buttons -->
        <td *ngIf="account.editMode"
            id="EditAccountSaveExitBtn">
          <button id="EditAccountSaveBtn"
                  class="btn btn-success"
                  (click)="onEditAccount(account)">
            {{ "button.save" | translate }}
          </button>
          <button id="EditAccountExitBtn"
                  class="btn btn-danger"
                  (click)="account.editMode = false">
            {{ "button.exit" | translate }}
          </button>
        </td>
      </tr>
    </ng-container>


    <!-- Balance row -->
    <tr>
      <!-- Name -->
      <td></td>

      <!-- AccountType -->
      <td></td>

      <!-- Currency -->
      <td></td>

      <!-- Currency -->
      <td>
        {{ "account.total" | translate }}
      </td>

      <!--Balance PLN -->
      <td id="BalanceOfAllAccounts">
        {{ allAccountsBalance() | number: "0.2-2" }}
      </td>

      <!-- Last verification date -->
      <td>
      </td>

      <!-- Buttons -->
      <td></td>
    </tr>
  </tbody>
</table>

<!-- Summary by currency  -->

<table id="boxCurrencies"
       class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="thBoxCurrencies"
          [class.active]="sortableCurrencyTable.order === 'name'"
          (click)="sortableCurrencyTable.setOrder('name')">
        {{ "account.currency" | translate }}
        <span [hidden]="sortableCurrencyTable.reverse">▼</span>
        <span [hidden]="!sortableCurrencyTable.reverse">▲</span>
      </th>

      <th class="thBoxCurrencies"
          [class.active]="sortableCurrencyTable.order === 'allAccountsBalance'"
          (click)="sortableCurrencyTable.setOrder('allAccountsBalance')">
        {{ "account.balance" | translate }}
        <span [hidden]="sortableCurrencyTable.reverse">▼</span>
        <span [hidden]="!sortableCurrencyTable.reverse">▲</span>
      </th>

      <th class="thBoxCurrencies"
          [class.active]="sortableCurrencyTable.order === 'exchangeRate'"
          (click)="sortableCurrencyTable.setOrder('exchangeRate')">
        {{ "account.exchangeRate" | translate }}
        <span [hidden]="sortableCurrencyTable.reverse">▼</span>
        <span [hidden]="!sortableCurrencyTable.reverse">▲</span>
      </th>

      <th class="thBoxCurrencies"
          [class.active]="sortableCurrencyTable.order === 'allAccountsBalancePLN'"
          (click)="sortableCurrencyTable.setOrder('allAccountsBalancePLN')">
        {{ "account.balancePLN" | translate }}
        <span [hidden]="sortableCurrencyTable.reverse">▼</span>
        <span [hidden]="!sortableCurrencyTable.reverse">▲</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let currency of (supportedCurrencies | orderBy: sortableCurrencyTable.order:sortableCurrencyTable.reverse:'case-insensitive')">
      <td id="CurrencyName{{currency.name}}"
          class="tdBoxCurrencies">
        {{ currency.name }}
      </td>

      <td id="CurrencyBalance{{currency.name}}"
          class="tdBoxCurrencies">
        {{ currency.allAccountsBalance | number: "0.2-2" }}
      </td>

      <td id="CurrencyExchangeRate{{currency.name}}"
          class="tdBoxCurrencies">
        {{ currency.exchangeRate }}
      </td>

      <td id="CurrencyBalanceOf{{currency.name}}"
          class="tdBoxCurrencies">
        {{ currency.allAccountsBalancePLN | number: "0.2-2" }}
      </td>
    </tr>

    <tr>
      <td class="tdBoxCurrencies"></td>

      <td class="tdBoxCurrencies"></td>

      <td class="tdBoxCurrencies">
        {{ "account.total" | translate }}
      </td>

      <td id="BalanceOfAllAccountsCurrenciesSummary"
          class="tdBoxCurrencies">
        {{ allAccountsBalance() | number: "0.2-2" }}
      </td>

    </tr>
  </tbody>
</table>
<td></td>

<!-- Summary by AccountType  -->

<table id="boxAccountType"
       class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>
      <th class="thBoxAccountType"
          [class.active]="sortableAccountTypeTable.order === 'name'"
          (click)="sortableAccountTypeTable.setOrder('name')">
        {{ "account.accountType" | translate }}
        <span [hidden]="sortableAccountTypeTable.reverse">▼</span>
        <span [hidden]="!sortableAccountTypeTable.reverse">▲</span>
      </th>


      <th class="thBoxAccountType"
          [class.active]="sortableAccountTypeTable.order === 'allAccountsBalancePLN'"
          (click)="sortableAccountTypeTable.setOrder('allAccountsBalancePLN')">
        {{ "account.balancePLN" | translate }}
        <span [hidden]="sortableAccountTypeTable.reverse">▼</span>
        <span [hidden]="!sortableAccountTypeTable.reverse">▲</span>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr
      *ngFor="let accountType of (supportedAccountTypes | orderBy: sortableAccountTypeTable.order:sortableAccountTypeTable.reverse:'case-insensitive')">
      <td id="AccountTypeName{{accountType.name}}"
          class="tdBoxAccountType">
        {{ accountType.name }}
      </td>

      <td>
<!--        id="AccountTypeBalanceOf{{accountType.name}}"-->
<!--          class="tdBoxAccountType">-->
<!--        {{ accountType.allAccountsTypeBalancePLN() | number: "0.2-2" }}-->
      </td>
    </tr>

    <tr>
      <td class="tdBoxAccountType">
        {{ "account.total" | translate }}
      </td>

      <td id="BalanceOfAllAccountsTypeSummary"
          class="tdBoxCurrencies">
        {{ allAccountsBalance() | number: "0.2-2" }}
      </td>

      </tr>
  </tbody>
</table>
