table {
  max-width: 100%;
  table-layout: fixed;
}

/* th,
td {
  width: 16.6666%;
} */

table tr:last-child {
  font-weight: bold;
}

#EditAccountSaveExitBtn,
#NewAccountSaveExitBtn {
  width: 100%;
}

#boxCurrencies {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.thBoxCurrencies,
.tdBoxCurrencies {
  width: 25%;
}
