<button id="AddAccountBtn" class="btn btn-success" type="button" (click)="addingMode = !addingMode">
  {{'account.addAccount' | translate}}
</button>
<button id="RefreshAccountsBtn" class="btn btn-primary" type="button" (click)="onRefreshAccounts()">{{'button.refresh' | translate}}</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>

    <!--Name-->
    <th id="NameHeader" [class.active]="order === 'name'" (click)="setOrder('name')">
      {{'account.name' | translate}}
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <!--Balance-->
    <th id="BalanceHeader" [class.active]="order === 'balance'" (click)="setOrder('balance')">
      {{'account.balance' | translate}}
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr id="AccountRow" *ngFor="let account of accounts | orderBy: order:reverse:'case-insensitive'">

    <!--Name-->
    <td *ngIf="account.editMode">
      <input id="EditAccountNameInput" class="form-control" type="text" [(ngModel)]="account.editedAccount.name">
    </td>
    <td id="NameReadOnly" *ngIf="!account.editMode">{{account.name}}</td>

    <!--Balance-->
    <td *ngIf="account.editMode">
      <input id="EditAccountBalanceInput" class="form-control" type="number" [(ngModel)]="account.editedAccount.balance"></td>
    <td id="BalanceReadOnly" *ngIf="!account.editMode"> {{account.balance | number:'0.2-2'}}</td>


    <td *ngIf="!account.editMode">
      <div class="dropdown">
        <button id="OptionsBtn" class="btn btn-primary btn-block dropdown-toggle" type="button" data-toggle="dropdown">
          {{'button.options' | translate}}
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button id="EditBtn" class="btn btn-warning btn-block" (click)="onShowEditMode(account)">{{'button.edit' | translate}}</button>
          </li>
          <li>
            <button id="DeleteBtn" class="btn btn-danger btn-block" (click)="deleteAccount(account)">{{'button.delete' | translate}}</button>
          </li>
        </ul>
      </div>
    </td>
    <td *ngIf="account.editMode">
      <button id="EditAccountSaveBtn" class="btn btn-success" (click)="onEditAccount(account)">{{'button.save' | translate}}</button>
      <button class="btn btn-danger" (click)="account.editMode=false">{{'button.exit' | translate}}</button>
    </td>

  </tr>

  <tr *ngIf="addingMode">
    <!--Name-->
    <td>
      <input id="NewAccountNameInput" class="form-control" type="text" [(ngModel)]="newAccount.name">
    </td>
    <!--Balance-->
    <td>
      <input id="NewAccountBalanceInput" class="form-control" type="number" [(ngModel)]="newAccount.balance"></td>
    <td>
      <button id="NewAccountSaveBtn" class="btn btn-success" (click)="onAddAccount()">{{'button.save' | translate}}</button>
      <button class="btn btn-danger" (click)="addingMode=false">{{'button.exit' | translate}}</button>
    </td>
  </tr>

  <tr>
    <!--Name-->
    <td>
    </td>
    <!--Balance-->
    <td id="BalanceOfAllAccounts">{{allAccountsBalance() | number:'0.2-2'}}</td>
    <td>
    </td>
  </tr>
  </tbody>
</table>
