table {
  max-width: 100%;
  table-layout: fixed;
}

/* th,
td {
  width: 16.6666%;
} */

table tr:last-child {
  font-weight: bold;
}

#EditAccountSaveExitBtn,
#NewAccountSaveExitBtn {
  width: 100%;
}

#boxCurrencies {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.thBoxCurrencies,
.tdBoxCurrencies {
  width: 25%;
}

#boxAccountType {
  max-width: 80%;
  margin: 0 auto;
  margin-top: 50px;
}

.thBoxAccountType,
.tdBoxAccountType {
  width: 25%;
}

.showArchivedCheckbox {
  text-align: right;
  margin-top: -25px;
  margin-bottom: 5px;
  margin-right: 3%;
}
