/**/*.log
/**/*.iml
/**/.idea/
/**/out/
/**/lib/
/**/target/
/**/.gradle
/**/application.log*

# From https://github.com/github/gitignore/blob/master/Gradle.gitignore
.gradle
/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties



# From https://github.com/github/gitignore/blob/master/Java.gitignore
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

frontend/.scannerwork
.DS_Store

.angulardoc.json
/frontend/e2e/protractorlocal.conf.js
