<button id="RefreshHistoryBtn"
        class="btn btn-primary"
        type="button"
        (click)="onRefreshHistory()">
  {{'button.refresh' | translate}}
</button>

<table id="tableHistory"
       class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>

      <!--Date-->
      <th [class.active]="order === 'date'"
          (click)="setOrder('date')"
          id="thHistoryDate">
        {{'history.date' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!-- Event type -->
      <th [class.active]="order === 'type'"
          (click)="setOrder('type')"
          id="thHistoryType">{{'history.entryType' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!-- Event object -->
      <th [class.active]="order === 'object'"
          (click)="setOrder('object')"
          id="thHistoryObject">{{'history.entryObject' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span></th>

      <!-- Entry -->
      <th id="thHistoryEntry">
        {{'history.entry' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!-- <th></th> -->
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let historyEntry of history | orderBy: order:reverse:'case-insensitive'">

      <!-- Date -->
      <td class="textcenter">{{historyEntry.date | date: "yyyy-MM-dd HH:mm"}}</td>

      <!-- Event -->
      <td class="textcenter">{{historyEntry.type}}</td>

      <!-- Event object -->
      <td class="textcenter">{{historyEntry.object}}</td>

      <!--Entry-->
      <td>
        <table id="tableHistoryEntry">
          <thead>
            <tr>
              <th class="tableHistoryEntryField">{{'history.entryField' | translate}}</th>
              <th *ngIf="historyEntry.type === 'UPDATE' || historyEntry.type === 'DELETE'"
                  class="tableHistoryEntryOldValue">
                {{'history.oldValue' | translate}}
              </th>
              <th *ngIf="historyEntry.type === 'UPDATE' || historyEntry.type === 'ADD'"
                  class="tableHistoryEntryNewValue">
                {{'history.newValue' | translate}}
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let entry of historyEntry.entries">
              <td>{{entry.name}}</td>

              <!-- 2 identical entries - display as single cell in 2 columns -->
              <td colspan="2"
                  *ngIf="entry.oldValue === entry.newValue && entry.name !== 'accountPriceEntries'"
                  class="tableHistoryEntryOldValue">{{entry.oldValue}}
              </td>

              <td colspan="2"
                  *ngIf="entry.oldValue === entry.newValue && entry.name === 'accountPriceEntries'"
                  class="textcenter">
                <table>
                  <tr *ngFor="let accountPriceEntry of entry.oldAccountPriceEntries">
                    <td class="textcenter">{{accountPriceEntry.accountName}}</td>
                    <td class="textcenter">{{accountPriceEntry.amount | number:'0.2-2'}}</td>
                  </tr>
                </table>
              </td>

              <!-- Only new entry - display as single cell in 2 columns -->
              <td colspan="2"
                  *ngIf="entry.newValue != null && entry.oldValue == null && entry.name !== 'accountPriceEntries'"
                  class="textcenter">{{entry.newValue}}
              </td>

              <td colspan="2"
                  *ngIf="entry.newValue != null && entry.oldValue == null && entry.name === 'accountPriceEntries'"
                  class="textcenter">
                <table>
                  <tr *ngFor="let accountPriceEntry of entry.newAccountPriceEntries">
                    <td class="textcenter">{{accountPriceEntry.accountName}}</td>
                    <td class="textcenter">{{accountPriceEntry.amount | number:'0.2-2'}}</td>
                  </tr>
                </table>
              </td>

              <!-- Only old entry - display as single cell in 2 columns -->
              <td colspan="2"
                  *ngIf="entry.newValue == null && entry.oldValue != null && entry.name !== 'accountPriceEntries'"
                  class="textcenter">
                {{entry.oldValue}}
              </td>

              <td colspan="2"
                  *ngIf="entry.newValue == null && entry.oldValue != null && entry.name === 'accountPriceEntries'"
                  class="textcenter">
                <table>
                  <tr *ngFor="let accountPriceEntry of entry.oldAccountPriceEntries">
                    <td class="textcenter">{{accountPriceEntry.accountName}}</td>
                    <td class="textcenter">{{accountPriceEntry.amount | number:'0.2-2'}}</td>
                  </tr>
                </table>
              </td>

              <!-- Old & new entries exists, both are different - display 2 separate cells -->
              <td
                *ngIf="entry.oldValue !== entry.newValue && entry.oldValue != null && entry.newValue != null && entry.name !== 'accountPriceEntries'"
                class="textcenter">
                {{entry.oldValue}}
              </td>

              <td
                *ngIf="entry.oldValue !== entry.newValue && entry.oldValue != null && entry.newValue != null && entry.name === 'accountPriceEntries'"
                class="textcenter">
                <table>
                  <tr *ngFor="let accountPriceEntry of entry.oldAccountPriceEntries">
                    <td class="textcenter">{{accountPriceEntry.accountName}}</td>
                    <td class="textcenter">{{accountPriceEntry.amount | number:'0.2-2'}}</td>
                  </tr>
                </table>
              </td>

              <td
                *ngIf="entry.oldValue !== entry.newValue && entry.oldValue != null && entry.newValue != null && entry.name !== 'accountPriceEntries'"
                class="textcenter">
                {{entry.newValue}}
              </td>

              <td
                *ngIf="entry.oldValue !== entry.newValue && entry.oldValue != null && entry.newValue != null && entry.name === 'accountPriceEntries'"
                class="textcenter">
                <table>
                  <tr *ngFor="let accountPriceEntry of entry.newAccountPriceEntries">
                    <td class="textcenter">{{accountPriceEntry.accountName}}</td>
                    <td class="textcenter">{{accountPriceEntry.amount | number:'0.2-2'}}</td>
                  </tr>
                </table>
              </td>

            </tr>
          </tbody>
        </table>

      </td>

  </tbody>
</table>
