<button class="btn btn-primary" type="button" (click)="onRefreshHistory()">{{'button.refresh' | translate}}</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>


    <!--Date-->
    <th [class.active]="order === 'date'" (click)="setOrder('date')"  width="30%" >
      {{'history.date' | translate}}
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <!--Entry-->
    <th [class.active]="order === 'entry'" (click)="setOrder('entry')">
      {{'history.entry' | translate}}
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <th></th>
  </tr>
  </thead>

  <tbody>
  <tr *ngFor="let histor of history | orderBy: order:reverse:'case-insensitive'">

    <!--Date-->
    <td>{{histor.date | date: "yyyy-MM-dd HH:mm"}}</td>

    <!--Entry-->
    <td>
        <p *ngFor="let entry of histor.entry">
          {{i}}
        </p>
    </td>

  </tbody>
</table>
