<p>Add account</p>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th style="width: 50%">
        Description
      </th>
      <th style="width: 20%">
        Balance
      </th>
      <th style="width: 10%">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" [(ngModel)]="accountToAdd.name">
      </td>
      <td>
        <input type="text" [(ngModel)]="accountToAdd.balance">
      </td>

      <td>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <a href="#" (click)="onAddAccount(accountToAdd)">Add</a>
            </li>
            <li>
              <a href="#">Reset</a>
            </li>
            <li>
              <a href="#">Don't add</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<p>{{dupa}}</p>