<p>Add/Edit account</p>
<table class="table table-bordered table-striped">
  <thead class="thead-dark">
    <tr>
      <th style="width: 30%">
        Description
      </th>
      <th style="width: 30%">
        Balance
      </th>
      <th style="width:30%">
      </th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <input type="text" [(ngModel)]="name">
      </td>
      <td>
        <input type="text" [(ngModel)]="balance">
      </td>
      <td *ngIf="editAccount===false">
        <button class="btn btn-primary " type="button" (click)="onAddAccount(account)">Add Account
        </button>
        <button class="btn btn-danger " type="button" (click)="onReset()">Reset
        </button>
      </td>
      <td *ngIf="editAccount===true">
        <button class="btn btn-primary " type="button" (click)=onEditAccount(account)>Save Changes
        </button>
        <button class="btn btn-primary" type="button" (click)=onExit()>Exit
        </button>
      </td>
    </tr>
  </tbody>
</table>
<p>{{dupa}}</p>