
.buttons {
  margin: 0 auto;
  margin-top: -20px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.buttons button,
.buttons input,
.buttons select {
  margin: 0 5px;
}

.table-hover tr:hover {
  background: rgba(190, 229, 235, 0.5);
}

#BalanceOfAllFiltredTransaction,
.bold {
  font-weight: bold;
}

.width15 {
  width: 15%;
}

.width20 {
  width: 20%;
}
