<div class="buttons">

  <div class="float-left">
    <button (click)="addingMode = !addingMode"
            class="btn btn-success"
            id="AddTransactionBtn"
            type="button">
      {{'transaction.addTransaction' | translate}}
    </button>
    <button (click)="getTransactions()"
            class="btn btn-primary"
            id="RefreshTransactionsBtn"
            type="button">{{'button.refresh' | translate}}
    </button>

    <span class="hidePlannedTransactionsCheckbox">
      <input (change)="negateHidePlannedTransactionsCheckboxAndSaveState()"
             id="hidePlannedTransactionsCheckbox"
             type="checkbox"
             [checked]="getHidePlannedTransactionsCheckboxState()">
      {{"checkbox.hidePlannedTransactions" | translate}}
    </span>
  </div>

  <div class="form-inline float-right">
    <select class="form-control"
            [(ngModel)]="originalFilter"
            (ngModelChange)="onFilterChange()">
      <option *ngFor="let filter of filters"
              [ngValue]="filter">
        {{filter.name}}
      </option>
    </select>
    <input class="form-control"
           type="text"
           [(ngModel)]="selectedFilter.name"/>
    <button id="AddFilterBtn"
            class="btn btn-success"
            (click)="addFilter()">{{'transaction.save' | translate}}
    </button>
    <button id="UpdateFilterBtn"
            class="btn btn-warning"
            (click)="updateFilter()">{{'transaction.update' | translate}}
    </button>
    <button id="ResetFilterBtn"
            class="btn btn-primary"
            (click)="resetFilter()">{{'transaction.reset' | translate}}
    </button>
    <button id="DeleteFilterBtn"
            class="btn btn-danger"
            (click)="deleteFilter()">{{'transaction.delete' | translate}}
    </button>
  </div>

</div>

<table class="table table-bordered table-striped table-hover">
  <thead class="thead-dark">
    <tr>

      <!--Date-->
      <th [class.active]="order === 'date'"
          (click)="setOrder('date')"
          class="width12"
          id="DateHeader">
        {{'transaction.date' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!--Description-->
      <th [class.active]="order === 'description'"
          (click)="setOrder('description')"
          class="width20"
          id="NameHeader">
        {{'transaction.description' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!--Price-->
      <th [class.active]="order === 'accountPriceEntries[0].pricePLN'"
          (click)="setOrder('accountPriceEntries[0].pricePLN')"
          class="width12"
          id="PriceHeader">
        {{ 'transaction.price' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!--Account-->
      <th [class.active]="order === 'accountPriceEntries[0].account.name'"
          (click)="setOrder('accountPriceEntries[0].account.name')"
          class="width12"
          id="AccountHeader">
        {{'transaction.account' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!--Account balance after transaction-->
      <th [class.active]="order === 'accountPriceEntries[0].account.postTransactionAccountBalance'"
          (click)="setOrder('accountPriceEntries[0].account.postTransactionAccountBalance')"
          class="width12"
          id="PostTransactionAccountBalanceHeader">
        {{'transaction.postTransactionAccountBalance' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <!--Category-->
      <th [class.active]="order === 'category.name'"
          (click)="setOrder('category.name')"
          class="width20"
          id="CategoryHeader">
        {{'transaction.category' | translate}}
        <span [hidden]="!reverse">▼</span>
        <span [hidden]="reverse">▲</span>
      </th>

      <th class="width12">
      </th>
    </tr>

  </thead>
  <tbody>

    <!-- Filters -->
    <tr>

      <!--Date-->
      <td>
        <input [(ngModel)]="selectedFilter.dateFrom"
               (ngModelChange)="filterTransactions()"
               class="form-control"
               max="2025-12-31"
               min="2015-01-01"
               type="date">
        <input [(ngModel)]="selectedFilter.dateTo"
               (ngModelChange)="filterTransactions()"
               class="form-control"
               max="2025-12-31"
               min="2015-01-01"
               type="date">
      </td>

      <!--Description-->
      <td>
        <input [(ngModel)]="selectedFilter.description"
               (ngModelChange)="filterTransactions()"
               class="form-control"
               type="text">
      </td>

      <!--Price-->
      <td>
        <input [(ngModel)]="selectedFilter.priceFrom"
               (ngModelChange)="filterTransactions()"
               class="form-control"
               type="number">
        <input [(ngModel)]="selectedFilter.priceTo"
               (ngModelChange)="filterTransactions()"
               class="form-control"
               type="number">
      </td>

      <!--Account-->
      <td>
        <select [(ngModel)]="selectedFilter.accounts"
                (ngModelChange)="filterTransactions()"
                class="form-control"
                multiple>
          <ng-container *ngFor="let account of accounts">

            <option *ngIf="!account.archived"
                    [ngValue]="account">
              {{account.name}}
            </option>
          </ng-container>
        </select>
      </td>

      <!--Account balance after transaction-->
      <td>
        <input [(ngModel)]="selectedFilter.postTransactionAccountBalanceFrom"
               (ngModelChange)="filterTransactions()"
               class="form-control"
               type="number">
        <input [(ngModel)]="selectedFilter.postTransactionAccountBalanceTo"
               (ngModelChange)="filterTransactions()"
               class="form-control"
               type="number">
      </td>


      <!--Category-->
      <td>
        <select [(ngModel)]="selectedFilter.categories"
                (ngModelChange)="filterTransactions()"
                class="form-control"
                multiple>
          <option *ngFor="let category of categories"
                  [ngValue]="category">
            {{category.name}}
          </option>
        </select>
        <!--        <ng-select-->
        <!--          [items]="categories"-->
        <!--          [multiple]="true"-->
        <!--          [closeOnSelect]="false"-->
        <!--          [searchable]="true"-->
        <!--          bindLabel="name"-->
        <!--          placeholder="Select categories"-->
        <!--          [(ngModel)]="selectedFilter.categories">-->
        <!--        </ng-select>-->
      </td>

      <td>
      </td>
    </tr>

    <tr *ngIf="addingMode">
      <!--Date-->
      <td>
        <input [ngModel]="newTransaction.date | date:'yyyy-MM-dd'"
               (ngModelChange)="newTransaction.date = parseDate($event)"
               class="form-control"
               id="NewTransactionDateInput"
               max="2025-12-31"
               min="2015-01-01"
               type="date">
      </td>

      <!--Description-->
      <td>
        <input [(ngModel)]="newTransaction.description"
               class="form-control"
               id="NewTransactionDescriptionInput"
               type="text">
      </td>

      <!--Price-->
      <td>
        <input *ngFor="let entry of newTransaction.accountPriceEntries"
               [(ngModel)]="entry.price"
               class="form-control"
               id="NewTransactionPriceInput"
               type="number">
      </td>

      <!--Account-->
      <td>
        <div *ngFor="let entry of newTransaction.accountPriceEntries; let i = index">
          <ng-select [items]="getNotArchivedAccounts()"
                     bindLabel="name"
                     [(ngModel)]="entry.account"
                     id="newTransactionAccountSelects_{{i}}">
          </ng-select>
        </div>
      </td>


      <!--Account balance after transaction-->
      <td>
      </td>

      <!--Category-->
      <td>
        <ng-select [items]="categories"
                   bindLabel="name"
                   [(ngModel)]="newTransaction.category"
                   id="newTransactionCategorySelect">
        </ng-select>
      </td>

      <td id="EditAccountSaveExitBtn">
        <button (click)="addTransaction()"
                class="btn btn-success"
                id="newTransactionSaveButton">{{'button.save' | translate}}
        </button>
        <button (click)="addingMode=false"
                class="btn btn-danger"
                id="AddTransactionExitBtn">{{'button.exit' | translate}}
        </button>
      </td>
    </tr>

    <tr *ngFor="let transaction of transactions | orderBy: order:reverse:'case-insensitive'"
        [ngStyle]="{backgroundColor: getStatusBasedBgColorForPlannedTransaction(transaction)}"
        [ngClass]="{'font-italic':transaction.isPlanned}"
        id="TransactionRow">

      <ng-container *ngIf="!transaction.isPlanned || !getHidePlannedTransactionsCheckboxState()">

        <!--Date-->
        <ng-container
          *ngIf="isEditModeContainsArchivedAccount(transaction); then dateEditDisabled; else dateEditEnabled">
        </ng-container>

        <ng-template #dateEditDisabled>
          <td id="DateReadOnly">{{transaction.date | date:'dd/MM/yyyy'}}</td>
        </ng-template>

        <ng-template #dateEditEnabled>
          <td>
            <input [(ngModel)]="transaction.editedTransaction.date"
                   class="form-control"
                   id="EditTransactionDateInput"
                   max="2025-12-31"
                   min="2015-01-01"
                   type="date">
          </td>
        </ng-template>

        <!--Description-->
        <td *ngIf="!transaction.editMode"
            id="DescriptionReadOnly">{{transaction.description}}
        </td>
        <td *ngIf="transaction.editMode">
          <input [(ngModel)]="transaction.editedTransaction.description"
                 class="form-control"
                 id="EditTransactionDescriptionInput"
                 type="text">
        </td>

        <!--Price-->

        <ng-container
          *ngIf="isEditModeContainsArchivedAccount(transaction); then priceEditDisabled; else priceEditEnabled">
        </ng-container>

        <ng-template #priceEditDisabled>
          <td class="right aligned">
            <p *ngFor="let entry of transaction.accountPriceEntries"
               id="PricesReadOnly">
              {{entry.price | number:'0.2'}} {{entry.account.currency.name}}
              <span *ngIf="entry.account.currency.name != 'PLN'">({{entry.pricePLN | number:'0.2'}}
                PLN)</span>
            </p>
          </td>
        </ng-template>
        <ng-template #priceEditEnabled>
          <td *ngIf="transaction.editMode">
            <input *ngFor="let entry of transaction.editedTransaction.accountPriceEntries"
                   [(ngModel)]="entry.price"
                   class="form-control"
                   id="EditTransactionPriceInput"
                   type="number">
          </td>
        </ng-template>

        <!--Account-->
        <ng-container
          *ngIf="isEditModeContainsArchivedAccount(transaction); then accountEditDisabled; else accountEditEnabled">
        </ng-container>

        <ng-template #accountEditDisabled>
          <td>
            <p *ngFor="let entry of transaction.accountPriceEntries"
               id="AccountsReadOnly">
              {{entry.account.name}}
            </p>
          </td>
        </ng-template>

        <ng-template #accountEditEnabled>
          <td>
            <div *ngFor="let entry of transaction.editedTransaction.accountPriceEntries; let i = index">
              <ng-select [items]="getNotArchivedAccounts()"
                         bindLabel="name"
                         [(ngModel)]="entry.account"
                         id="EditTransactionAccountSelects_{{i}}">
              </ng-select>
            </div>
          </td>
        </ng-template>

        <!--Account balance after transaction-->
        <td>
          <ng-container *ngFor="let entry of transaction.accountPriceEntries">
            <p>{{ entry.postTransactionAccountBalance | number:'0.2'}}</p>
          </ng-container>
        </td>

        <!--Category-->
        <td *ngIf="!transaction.editMode"
            id="CategoryReadOnly">
          {{transaction.category.name}}
        </td>
        <td *ngIf="transaction.editMode">
          <ng-select [items]="categories"
                     bindLabel="name"
                     [(ngModel)]="transaction.editedTransaction.category"
                     id="EditTransactionCategorySelect">
          </ng-select>
        </td>

        <td *ngIf="transaction.editMode">
          <button (click)="updateTransaction(transaction)"
                  class="btn btn-success"
                  id="EditTransactionSaveBtn">
            {{'button.save' | translate}}
          </button>
          <button (click)="transaction.editMode=false"
                  class="btn btn-danger"
                  id="EditTransactionExitBtn">
            {{'button.exit' | translate}}
          </button>
        </td>

        <td *ngIf="!transaction.editMode">
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle btn-block"
                    data-toggle="dropdown"
                    id="OptionsBtn"
                    type="button">
              {{'button.options' | translate}}
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li>
                <button (click)="onShowEditMode(transaction)"
                        class="btn btn-warning btn-block"
                        id="EditBtn">
                  {{'button.edit' | translate}}
                </button>
              </li>
              <li>
                <button (click)="deleteTransaction(transaction)"
                        class="btn btn-danger btn-block"
                        id="DeleteBtn">
                  {{'button.delete' | translate}}
                </button>
              </li>
              <ng-container *ngIf="transaction.isPlanned">
                <li
                  *ngIf="isNotOverduePlannedTransaction(transaction)">
                  <button (click)="commitPlannedTransaction(transaction)"
                          class="btn btn-info btn-block"
                          id="CommitBtn">
                    {{'button.commitPlannedTransaction' | translate}}
                  </button>
                </li>
                <li *ngIf="isOverduePlannedTransaction(transaction)">
                  <button (click)="commitOverduePlannedTransaction(transaction)"
                          class="btn btn-info btn-block"
                          id="CommitOverdueBtn">
                    {{'button.commitOverduePlannedTransaction' | translate}}
                  </button>
                </li>
                <li *ngIf="!isRecurrent(transaction)">
                  <button (click)="setAsRecurrent(transaction, 'EVERY_DAY')"
                          class="btn btn-success btn-block"
                          id="setAsRecurrentEveryDayBtn">
                    {{'button.setAsRecurrentEveryDay' | translate}}
                  </button>
                </li>
                <li *ngIf="!isRecurrent(transaction)">
                  <button (click)="setAsRecurrent(transaction, 'EVERY_WEEK')"
                          class="btn btn-success btn-block"
                          id="setAsRecurrentEveryWeekBtn">
                    {{'button.setAsRecurrentEveryWeek' | translate}}
                  </button>
                </li>
                <li *ngIf="!isRecurrent(transaction)">
                  <button (click)="setAsRecurrent(transaction, 'EVERY_MONTH')"
                          class="btn btn-success btn-block"
                          id="setAsRecurrentEveryMonthBtn">
                    {{'button.setAsRecurrentEveryMonth' | translate}}
                  </button>
                </li>
                <li *ngIf="isRecurrent(transaction)">
                  <button (click)="setAsNotRecurrent(transaction)"
                          class="btn btn-success btn-block"
                          id="SetAsNotRecurrentBtn">
                    {{'button.setAsNotRecurrent' | translate}} {{transaction.recurrencePeriod}}
                  </button>
                </li>
              </ng-container>
            </ul>
          </div>
        </td>
      </ng-container>
    </tr>
    <tr>
      <!--Date-->
      <td>
      </td>

      <!--Description-->
      <td>
        {{ "account.total" | translate }}
      </td>

      <!--Price-->
      <td class="right aligned bold">
        <p id="PriceSummary">
          {{ allFilteredTransactionsBalance() | number:'0.2' }}</p>
      </td>

      <!--Account-->
      <td>
      </td>

      <!--Category-->
      <td>
      </td>

      <!-- Buttons -->
      <td>
      </td>
    </tr>

  </tbody>
</table>
