<button class="btn btn-danger" type="button" (click)="addingMode = !addingMode">
  Add Transaction
</button>
<button class="btn btn-primary" type="button" (click)="onRefreshTransactions()">Refresh</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th style="width: 50%">
      Date
      <!--<span class="glyphicon glyphicon-collapse-down" (click)="sortByName('asc')"></span>-->
      <!--<span class="glyphicon glyphicon-collapse-up" (click)="sortByName('dsc')"></span>-->
    </th>
    <th style="width: 50%">
      Description
      <!--<span class="glyphicon glyphicon-collapse-down" (click)="sortByName('asc')"></span>-->
      <!--<span class="glyphicon glyphicon-collapse-up" (click)="sortByName('dsc')"></span>-->
    </th>
    <th style="width: 20%">
      Price
      <!--<span class="glyphicon glyphicon-collapse-down" (click)="sortByParentTransaction('asc')"></span>-->
      <!--<span class="glyphicon glyphicon-collapse-up" (click)="sortByParentTransaction('dsc')"></span>-->
    </th>
    <th style="width: 20%">
      Category
      <!--<span class="glyphicon glyphicon-collapse-down" (click)="sortByParentTransaction('asc')"></span>-->
      <!--<span class="glyphicon glyphicon-collapse-up" (click)="sortByParentTransaction('dsc')"></span>-->
    </th>
    <th style="width: 20%">
      Account
      <!--<span class="glyphicon glyphicon-collapse-down" (click)="sortByParentTransaction('asc')"></span>-->
      <!--<span class="glyphicon glyphicon-collapse-up" (click)="sortByParentTransaction('dsc')"></span>-->
    </th>

    <th style="width: 10%">
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let transaction of transactions">

    <td *ngIf="!transaction.editMode">{{transaction.date}}</td>
    <td *ngIf="transaction.editMode">
      <input type="text" [(ngModel)]="transaction.editedTransaction.date">
    </td>

    <td *ngIf="!transaction.editMode">{{transaction.description}}</td>
    <td *ngIf="transaction.editMode">
      <input type="text" [(ngModel)]="transaction.editedTransaction.description">
    </td>

    <td *ngIf="!transaction.editMode">{{transaction.price}}</td>
    <td *ngIf="transaction.editMode">
      <input type="text" [(ngModel)]="transaction.editedTransaction.price">
    </td>

    <td *ngIf="!transaction.editMode">{{transaction.account.name}}</td>
    <td *ngIf="transaction.editMode">
      <select [(ngModel)]="transaction.editedTransaction.account">
        <option *ngFor="let account of accounts" [ngValue]="account">
          {{account.name}}
      </select>
    </td>

    <td *ngIf="!transaction.editMode">{{transaction.category.name}}</td>
    <td *ngIf="transaction.editMode">
      <select [(ngModel)]="transaction.editedTransaction.category">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
      </select>
    </td>

    <td *ngIf="transaction.editMode">
      <!--<button class="btn-primary" (click)="onEditTransaction(category)">Save</button>-->
      <button class="btn-danger" (click)="transaction.editMode=false">Exit</button>
    </td>
    <td *ngIf="!transaction.editMode">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <!--<button class="btn-primary" (click)="deleteTransaction(category)">Delete</button>-->
          </li>
          <li>
            <button class="btn-danger" (click)="onShowEditMode(transaction)">Edit</button>
          </li>
        </ul>
      </div>
    </td>

  </tr>


  <tr *ngIf="addingMode">
    <td>
      <input type="text" [(ngModel)]="newTransaction.date">
    </td>
    <td>
      <input type="text" [(ngModel)]="newTransaction.description">
    </td>
    <td>
      <input type="text" [(ngModel)]="newTransaction.price">
    </td>
    <td>
      <select [(ngModel)]="newTransaction.account">
        <option *ngFor="let account of accounts" [ngValue]="account">
          {{account.name}}
      </select>
    </td>
    <td>
      <select [(ngModel)]="newTransaction.category">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
      </select>
    </td>

    <td>
      <button class="btn-primary" (click)="onAddTransaction()">Save</button>
      <button class="btn-danger" (click)="addingMode=false">Exit</button>
    </td>
  </tr>


  </tbody>
</table>
