<div class="form-inline pull-right">
  <select class="form-control" [(ngModel)]="originalFilter" (ngModelChange)="onFilterChange($event)">
    <option *ngFor="let filter of filters" [ngValue]="filter">
      {{filter.name}}
    </option>
  </select>
  <input class="form-control" type="text" [(ngModel)]="selectedFilter.name"/>
  <button class="btn btn-success" (click)="addFilter()">Save as new filter</button>
  <button class="btn btn-warning" (click)="updateFilter()">Update selected filter</button>
  <button class="btn btn-primary" (click)="resetFilter()">Reset selected filter</button>
  <button class="btn btn-danger" (click)="deleteFilter()">Delete filter</button>
</div>

<div class="pull-left">
  <button class="btn btn-success" type="button" (click)="addingMode = !addingMode">
    Add Transaction
  </button>
  <button class="btn btn-primary" type="button" (click)="getTransactions()">Refresh</button>
</div>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>

    <!--Date-->
    <th class="width: 25%" [class.active]="order === 'date'" (click)="setOrder('date')">
      Date
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <!--Description-->
    <th [class.active]="order === 'description'" (click)="setOrder('description')">
      Description
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <!--Price-->
    <th [class.active]="order === 'price'" (click)="setOrder('price')">
      Price
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <!--Account-->
    <th [class.active]="order === 'account.name'" (click)="setOrder('account.name')">
      Account
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <!--Category-->
    <th [class.active]="order === 'category.name'" (click)="setOrder('category.name')">
      Category
      <span [hidden]="reverse">▼</span>
      <span [hidden]="!reverse">▲</span>
    </th>

    <th>
    </th>
  </tr>

  </thead>
  <tbody>

  <!-- Filters -->
  <tr>

    <!--Date-->
    <td>
      <input class="form-control" type="date" min="2015-01-01" max="2025-12-31" [(ngModel)]="selectedFilter.dateFrom"
             (ngModelChange)="filterTransactions()">
      <input class="form-control" type="date" min="2015-01-01" max="2025-12-31" [(ngModel)]="selectedFilter.dateTo"
             (ngModelChange)="filterTransactions()">
    </td>

    <!--Description-->
    <td>
      <input class="form-control" type="text" [(ngModel)]="selectedFilter.description" (ngModelChange)="filterTransactions()">
    </td>

    <!--Price-->
    <td>
      <input class="form-control" type="number" [(ngModel)]="selectedFilter.priceFrom" (ngModelChange)="filterTransactions()">
      <input class="form-control" type="number" [(ngModel)]="selectedFilter.priceTo" (ngModelChange)="filterTransactions()">
    </td>

    <!--Account-->
    <td>
      <select multiple class="form-control" [(ngModel)]="selectedFilter.accounts" (ngModelChange)="filterTransactions()">
        <option *ngFor="let account of accounts" [ngValue]="account">
          {{account.name}}
        </option>
      </select>
    </td>

    <!--Category-->
    <td>
      <select multiple class="form-control" [(ngModel)]="selectedFilter.categories" (ngModelChange)="filterTransactions()">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
        </option>
      </select>
    </td>

    <td>
    </td>
  </tr>

  <tr *ngFor="let transaction of transactions | orderBy: order:reverse:'case-insensitive'">

    <!--Date-->
    <td *ngIf="!transaction.editMode">{{transaction.date | date:'dd/MM/yyyy'}}</td>
    <td *ngIf="transaction.editMode">
      <input class="form-control" type="date" min="2015-01-01" max="2025-12-31" [(ngModel)]="transaction.editedTransaction.date">
    </td>

    <!--Description-->
    <td *ngIf="!transaction.editMode">{{transaction.description}}</td>
    <td *ngIf="transaction.editMode">
      <input class="form-control" type="text" [(ngModel)]="transaction.editedTransaction.description">
    </td>

    <!--Price-->
    <td class="right aligned" *ngIf="!transaction.editMode">{{transaction.price | number:'0.2'}}</td>
    <td *ngIf="transaction.editMode">
      <input class="form-control" type="number" [(ngModel)]="transaction.editedTransaction.price">
    </td>

    <!--Account-->
    <td *ngIf="!transaction.editMode">{{transaction.account.name}}</td>
    <td *ngIf="transaction.editMode">
      <select class="form-control" [(ngModel)]="transaction.editedTransaction.account">
        <option *ngFor="let account of accounts" [ngValue]="account">
          {{account.name}}
        </option>
      </select>
    </td>

    <!--Category-->
    <td *ngIf="!transaction.editMode">{{transaction.category.name}}</td>
    <td *ngIf="transaction.editMode">
      <select class="form-control" [(ngModel)]="transaction.editedTransaction.category">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
        </option>
      </select>
    </td>

    <td *ngIf="transaction.editMode">
      <button class="btn btn-success" (click)="onEditTransaction(transaction)">Save</button>
      <button class="btn btn-danger" (click)="transaction.editMode=false">Exit</button>
    </td>

    <td *ngIf="!transaction.editMode">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="btn btn-warning" (click)="onShowEditMode(transaction)">Edit</button>
          </li>
          <li>
            <button class="btn btn-danger" (click)="deleteTransaction(transaction)">Delete</button>
          </li>
        </ul>
      </div>
    </td>
  </tr>


  <tr *ngIf="addingMode">
    <!--Date-->
    <td>
      <input class="form-control" type="date" min="2015-01-01" max="2025-12-31" [(ngModel)]="newTransaction.date">
    </td>

    <!--Description-->
    <td>
      <input class="form-control" type="text" [(ngModel)]="newTransaction.description">
    </td>

    <!--Price-->
    <td>
      <input class="form-control" type="number" [(ngModel)]="newTransaction.price">
      <!--<input type="number" min="0.00" max="10000.00" step="0.01" />-->
    </td>

    <!--Account-->
    <td>
      <select class="form-control" [(ngModel)]="newTransaction.account">
        <option *ngFor="let account of accounts" [ngValue]="account">
          {{account.name}}
        </option>
      </select>
    </td>

    <!--Category-->
    <td>
      <select class="form-control" [(ngModel)]="newTransaction.category">
        <option *ngFor="let category of categories" [ngValue]="category">
          {{category.name}}
        </option>
      </select>
    </td>

    <td>
      <button class="btn btn-success" (click)="onAddTransaction()">Save</button>
      <button class="btn btn-danger" (click)="addingMode=false">Exit</button>
    </td>
  </tr>


  </tbody>
</table>
