<button class="btn btn-success" type="button" (click)="addingMode = !addingMode">
  Add Category
</button>
<button class="btn btn-primary" type="button" (click)="onRefreshCategories()">Refresh</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>

     <!--Name-->
     <th [class.active]="order === 'name'" (click)="setOrder('name')">
        Name
        <span [hidden]="reverse">▼</span>
        <span [hidden]="!reverse">▲</span>
      </th>
  
      <!--Parent Category-->
      <th [class.active]="order === 'category'" (click)="setOrder('category')">
          Parent Category
        <span [hidden]="reverse">▼</span>
        <span [hidden]="!reverse">▲</span>
      </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories | orderBy: order:reverse:'case-insensitive'">

    <!--Name-->
    <td *ngIf="category.editMode">
      <input type="text" [(ngModel)]="category.editedName">
    </td>
    <td *ngIf="!category.editMode">{{category.name}}</td>

    <!--Parent Category-->
    <td *ngIf="category.editMode">
      <select [(ngModel)]="category.editedParentCategory">
        <option *ngFor="let parCategory of getListOfPossibleParentCategories(category)" [ngValue]="parCategory">
          {{parCategory.name}}
        <option [ngValue]="null">Main Category</option>
      </select>
    </td>
    <td *ngIf="!category.editMode">{{getParentCategoryName(category)}}</td>

    <td *ngIf="!category.editMode">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="btn-warning" (click)="onShowEditMode(category)">Edit</button> 
          </li>
          <li>
            <button class="btn-danger" (click)="deleteCategory(category)">Delete</button>
          </li>
        </ul>
      </div>
    </td>
    <td *ngIf="category.editMode">
      <button class="btn-success" (click)="onEditCategory(category)">Save</button>
      <button class="btn-danger" (click)="category.editMode=false">Exit</button>
    </td>

  </tr>

  <tr *ngIf="addingMode">
    
    <!--Name-->
    <td>
      <input type="text" [(ngModel)]="newCategoryName">
    </td>
    <td>
      <div class="form-group">
        <select class="form-control" id="selectedParentCategory" [(ngModel)]="newCategoryParentCategory"
                name="selectedParentCategory">
          <option [ngValue]="null">Main Category</option>
          <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
      </div>
    </td>

    <td>
      <button class="btn-success" (click)="onAddCategory()">Save</button>
      <button class="btn-danger" (click)="addingMode=false">Exit</button>
    </td>

  </tr>
  </tbody>
</table>
