<button class="btn btn-danger" type="button" (click)="addingMode === true ? addingMode=false : addingMode=true">
  Add Category
</button>
<button class="btn btn-primary" type="button" (click)="onRefreshCategories()">Refresh</button>

<table class="table table-bordered table-striped">
  <thead class="thead-dark">
  <tr>
    <th style="width: 20%">
      Id
      <span class="glyphicon glyphicon-collapse-down" (click)="sortById('dsc')"></span>
      <span class="glyphicon glyphicon-collapse-up" (click)="sortById('asc')"></span>
    </th>
    <th style="width: 50%">
      Name
      <span class="glyphicon glyphicon-collapse-down" (click)="sortByName('asc')"></span>
      <span class="glyphicon glyphicon-collapse-up" (click)="sortByName('dsc')"></span>
    </th>
    <th style="width: 20%">
      Parent Category
      <span class="glyphicon glyphicon-collapse-down" (click)="sortByParentCategory('asc')"></span>
      <span class="glyphicon glyphicon-collapse-up" (click)="sortByParentCategory('dsc')"></span>
    </th>
    <th style="width: 10%">
    </th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let category of categories">
    <td>{{category.id}}</td>

    <td *ngIf="category.editMode">
      <input type="text" [(ngModel)]="category.editedName">
    </td>
    <td *ngIf="!category.editMode">{{category.name}}</td>

    <td *ngIf="category.editMode">
      <select *ngIf="categories.length>1" [(ngModel)]="category.editedParentCategory">
        <option [ngValue]="null">Main Category</option>
        <option *ngFor="let parCategory of possibleParentCategories" [ngValue]="parCategory">{{parCategory.name}}
        </option>
      </select>
      <p *ngIf="categories.length < 2">Main Category</p>
    </td>
    <td *ngIf="!category.editMode">{{getParentCategoryName(category)}}</td>

    <td *ngIf="!category.editMode">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Options
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <button class="btn-primary" (click)="deleteCategory(category)">Delete</button>
          </li>
          <li>
            <button class="btn-primary" (click)="onShowEditMode(category)">Edit</button>
          </li>
        </ul>
      </div>
    </td>
    <td *ngIf="category.editMode">
      <button class="btn-primary" (click)="onEditCategory(category)">Save</button>
      <button class="btn-danger" (click)="category.editMode=false">Exit</button>
    </td>

  </tr>

  <tr *ngIf="addingMode">
    <td>New Category</td>

    <td>
      <input type="text" [(ngModel)]="newCategoryName">
    </td>
    <td>
      <div class="form-group">
        <select class="form-control" id="selectedParentCategory" [(ngModel)]="selectedCategory"
                name="selectedParentCategory">
          <option required [ngValue]="null">Main Category</option>
          <option *ngFor="let category of categories" [ngValue]="category">{{category.name}}</option>
        </select>
      </div>
    </td>

    <td>
      <button class="btn-primary" (click)="onAddCategory()">Save</button>
      <button class="btn-danger" (click)="addingMode=false">Exit</button>
    </td>

  </tr>
  </tbody>
</table>
