/* You can add global styles to this file, and also import other style files */
table {
  text-align: left;
}

button {
  margin-left: 3px;
  margin-bottom: 5px;
}

thead th {
  cursor: pointer;
  margin-right: 15px;
  margin-left: 15px;
  width: 40%
}

thead th span {
  visibility: hidden;
}

thead th.active span {
  visibility: visible;
}


/* -------------------------- Buttons -------------------------- */

.dropdown-menu {
  width: 100%;
}

#AddAccountBtn,
#AddCategoryBtn,
#RefreshAccountsBtn,
#RefreshCategoriesBtn,
#RefreshHistoryBtn,
#ExportServiceBtn,
#ImportServiceBtn {
  width: 150px;
  margin: 0 10px;
  margin-bottom: 20px;
}

.dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#OptionsBtn {
  max-width: 95%;
  margin: 5px auto;
}

.dropdown ul {
  max-width: 95.5%;
  min-width: 50px;
  margin: 1px auto;
  padding: 5px;
}

.dropdown-menu li {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#EditBtn,
#DeleteBtn,
#UpdateLastVerificationDateBtn {
  min-width: 50px;
  max-width: 95%;
  margin: 5px 10px;;
}

#EditAccountSaveExitBtn,
#EditCategorySaveExitBtn,
#NewAccountSaveExitBtn,
#NewCategorySaveExitBtn,
#EditAccountSaveExitBtn {
  display: flex;
  justify-content: space-between;
}

#EditAccountSaveBtn,
#EditAccountExitBtn,
#EditCategorySaveBtn,
#EditCategoryExitBtn,
#NewAccountSaveBtn,
#NewAccountExitBtn,
#NewCategorySaveBtn,
#NewCategoryExitBtn,
#EditTransactionExitBtn,
#newTransactionSaveButton,
#EditTransactionSaveBtn,
#EditTransactionExitBtn,
#AddTransactionExitBtn {
  width: 47.5%;
}

.table-hover tr:hover {
  background: rgba(190, 229, 235, 0.5);
}

@media screen and (max-width: 991px) {

  #EditBtn,
  #DeleteBtn {
    min-width: 50px;
    max-width: 95%;
    margin: 5px 10px;;
  }

}
