#component-box {
  text-align: center;
}

#component-box {
  position: relative;
  top: 0;
}

app-alerts {
  position: absolute;
  top: 60px;
  left: 1%;
  right: 1%;
  width: 98%;
  border-radius: 20px;
  font-weight: bold;
  height: 0px;
}
